<div class="interactive-container" id='interactive-container'>

    <div class="docs__poster--wrapper" id='playerWrapper' data-link-name="play-video">
        <div id="ytGuPlayer"></div>
        <div class="docs__poster--loader">
            <div class="docs__poster--image"></div>
            <div class="docs__poster--gradient-fill"></div>
            <div class="docs__poster--title-wrapper">
                <div class='has-curtains'></div>
                <div class="docs__poster--logo"></div>
                <div class="docs__poster--title">
                    <div class="docs__poster--play-button" id="auto-play-progress">
                      <svg class='autoplay-timer' viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"/>
                      </svg>
                    </div>
                    <div class="docs__poster--headline" data-sheet-attribute="title"></div>
                    <div class='docs__poster--autoplay-stop-button' data-link-name='stop autoplay timer'>Stop</div>
                </div>
            </div>
        </div>
    </div>
    <div class="docs--chapters-wrapper"></div>

    <div class="docs--about-wrapper">
        <div class="docs--about-overlay">
            <div class="doc-trailer__close"></div>
            <div class="docs--about-body">
                <p class="docs--about-headline">About the Guardian Bertha documentary partnership</p>
                <p>The Guardian is partnering with Bertha Foundation to tell international documentary film stories with global impact.</p>
                <p><a href='http://berthafoundation.org/'>Bertha Foundation</a> support activists, storytellers and lawyers who are working to bring about social and economic justice, and human rights for all.</p>
                <p>The Guardian and Bertha Foundation are commissioning a series of 12 short documentary films from independent filmmakers. The series covers global stories, with a focus on films that have the ability to advance the contemporary issues they address, and and raise awareness of people and movements who are catalysts for change.</p>
                <p>These documentaries help the Guardian audience to understand the world in creative, entertaining and surprising ways designed for a wide online audience. All documentaries are editorially independent and follow GNM's published editorial code.</p>
                <p>This unique collaboration involves the Guardian and Bertha Foundation engaging a network of film-makers with embedded access to, and deep knowledge of, the communities in which they are filming. The Guardian are delighted to be working with Bertha Foundation who have a track record of supporting documentary makers that make a significant difference in the world.</p>
                <p class="docs--about-legal">Unless otherwise stated, all statements and materials in these documentaries reflect the views of the individual documentary makers and not those of Bertha Foundation or the Guardian.</p>
            </div>
        </div>
    </div>

    <div class='doc-info'>
        <div class='has-curtains'></div>
        <div class='intro'>
            <div class="intro__standfirst" data-sheet-attribute="shortDescription"></div>
            <div class="intro__expansion" id='intro-expansion'>
                <div class="intro__description" data-sheet-attribute="longDescription"></div>
                <ul class="intro__credits-wrapper" data-sheet-attribute="credits"></ul>
            </div>
            <div class="intro__expand" id='intro-expand-btn'>Full description</div>
        </div>
        <div class='meta'>
            <div class='meta__date' data-sheet-attribute="docDate"></div>
            <div class='meta__social'>
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="email"></button>
            </div>
            <div class='meta__supporter'>
                <div class='supporter-info' id='show-about-these-films'>Supported by</div>
                <a class='supporter-logo' href="http://www.berthafoundation.org/" target="_blank">
                    <img src='https://uploads.guim.co.uk/2017/01/11/bertha-foundation-logo-grey.png'>
                </a>
            </div>
        </div>
    </div>

    <section id="more-documentaries" class="fc-container should-fade-in">
        <div class="fc-container__inner">
            <div class="fc-container__header js-container__header">
                <div class="fc-container__header__title">
                    <a href='/documentaries' tabindex="0">more documentaries</a>
                </div>
            </div>
            <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden" data-title="more documentaries" data-id="9846ecf9-a5d4-4b07-a1cf-3e77775c69e5">
            <div class="fc-slice-wrapper">
                <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-q">
                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                        <div class="nextSnapOne facia-snap facia-snap--default facia-snap-embed fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--is-media-link fc-item--video js-fc-item js-snap tone-media--item fc-item--list-media-mobile fc-item--standard-tablet facia-snap-point--small" data-link-name="docs interactive | card-1"></div>
                    </li>
                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                        <div class="nextSnapTwo facia-snap facia-snap--default facia-snap-embed fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--is-media-link fc-item--video js-fc-item js-snap tone-media--item fc-item--list-media-mobile fc-item--standard-tablet facia-snap-point--small" data-link-name="docs interactive | card-2"></div>
                    </li>
                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                        <div class="nextSnapThree facia-snap facia-snap--default facia-snap-embed fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--is-media-link fc-item--video js-fc-item js-snap tone-media--item fc-item--list-media-mobile fc-item--standard-tablet facia-snap-point--small" data-link-name="docs interactive | card-3"></div>
                    </li>
                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                        <div class="nextSnapFour facia-snap facia-snap--default facia-snap-embed fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--is-media-link fc-item--video js-fc-item js-snap tone-media--item fc-item--list-media-mobile fc-item--standard-tablet facia-snap-point--small" data-link-name="docs interactive | card-4"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class='coming-soon should-fade-in'>
        <div class='has-curtains'></div>
        <div class='coming-soon__container-title'>
            <div class='title'>coming soon</div>
            <div class='details'>Next up from the groundbreaking Guardian Bertha documentary partnership</div>
        </div>
        <div class='coming-soon__contents'>
            <div class='coming-soon__poster'>
                <div class='poster on-the-road' id='shows-trailer' data-link-name="play-trailer">
                    <div class='poster__image coming-soon-background'></div>
                    <div class='poster__gradient'></div>
                    <div class='poster__title' data-sheet-attribute="coming-soon-title"></div>
                    <div class='poster__strapline' data-sheet-attribute="coming-soon-strapline"></div>
                    <div class='poster__release' data-sheet-attribute="coming-soon-date"></div>
                </div>
            </div>
            <div class='coming-soon__newsletter'>
                <p>We release a new documentary monthly. Would you like a reminder email?</p>
                <iframe height="131px" data-form-success-headline="Thank you" data-form-success-desc="We will send you reminders about forthcoming documentaries." scrolling="no" frameborder="0" class="email-form__iframe email-form__iframe iframed--overflow-hidden email-sub__iframe email-sub__iframe--end-article js-email-sub__iframe js-email-sub__iframe--article"></iframe>
            </div>
        </div>
    </div>

</div>
